.contenedor{
    margin: 0;
    padding: 0;
    background: #efefef;
}

header{
    background: #e8cf45;
    height: 500px;
    text-align: center;
    color: #fff;
    }
.navbar{
    padding-top: 3%;
}

.navbar .buttom a {
    text-decoration: none;
     background: #f0b107;
    color: #fff;
    padding: 5%;
    }

.list-nav li { 
    list-style: none;
    display: inline-block;
    }

.list-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin: 5%;
}

.titulo{
    margin: 10%;
}

/* fin header*/

.hero{
    display: inline-block;
    margin: 5%;
}

.ejemplo{
    background: #fff;
    width: 100%;
    padding: 5%;
    margin: 3%;
    }

.ejemplo .img{
    width: 300px;
    height: 300px;
    background: #a1a2a7;
    margin: 0 auto;
}

.ejemplo h4{
    padding: 40%;
    color: #5f5858;
}

.ejemplo p{
    color: #e0d9d9;
}

.ejemplo buttom{
    background: #f0b107;
    padding: 2%;
    margin-left: 40%;
    }

.ejemplo buttom a{
    text-decoration: none;
    color: #fff;
    }

/* fin de hero */

footer {
    background: #000000;
    color: white;
    padding: 2%;
    
}




















